.path-mod-ejsappbooking h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.path-mod-ejsappbooking div.row.selectores {
    padding-bottom: 3em;
}

.path-mod-ejsappbooking .ui-datepicker-current-day {
  outline: 3px solid rgb(17, 119, 209) !important;
  font-weight: bold !important
}

.path-mod-ejsappbooking .ui-datepicker-calendar,
.path-mod-ejsappbooking .ui-datepicker{
    width: 100%;
}

.path-mod-ejsappbooking #hour {
    width: 100%;
}

.path-mod-ejsappbooking .pagination {
    position: absolute;
    bottom: 0;
    right: 0;
}

.path-mod-ejsappbooking .pagination li a {
    color: rgb(85, 85, 85);
}

.path-mod-ejsappbooking #bookingform {
    margin-bottom: 2%;
}

.path-mod-ejsappbooking #bookingform,
.path-mod-ejsappbooking #notif-area,
.path-mod-ejsappbooking #submitwrap,
.path-mod-ejsappbooking div.alert{
    width: 100% !important
}

.path-mod-ejsappbooking #bookingform,
.path-mod-ejsappbooking #submitwrap {
    text-align: center;
}

.path-mod-ejsappbooking #bookingform button[name="bookingbutton"]{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    float: left
}

.ui-icon {
  transform: scale(1.25);
}

div.alert{
    display: none
}

.path-mod-ejsappbooking #datepicker td.highlight-day {
}

.path-mod-ejsappbooking #datepicker td.highlight-day a {
    color: rgb(38,38,38) !important;
    background-image: none;
    
    background-color: rgb(149,149,149);
    color: beige !important;
}

.path-mod-ejsappbooking #datepicker,
.path-mod-ejsappbooking #timepicker {
    padding: 0 0 1em 0;
    width: 100%;
}

.path-mod-ejsappbooking #timepicker table {
    table-layout: auto;
    width: 100%;
}

.path-mod-ejsappbooking #timepicker table td {
    padding: 0.5em;
    font-size: large
}

.path-mod-ejsappbooking #timepicker table#hour td {
    border: 1px solid rgb(211, 211, 211) !important;
    border-collapse: collapse
}

.path-mod-ejsappbooking #timepicker table .time-highlight {
  outline: 4px solid rgb(17, 119, 209) !important;
}

.path-mod-ejsappbooking #timepicker table td span {
    font-size: 65%
}

.path-mod-ejsappbooking #timepicker table td{
    cursor: pointer;   
}

.path-mod-ejsappbooking #timepicker table#interval {
    display: block;
    margin: 4px 0;
    padding: 4px;
}

.path-mod-ejsappbooking #timepicker table td a {
    text-decoration: none;
    color: inherit
}

.path-mod-ejsappbooking #timepicker table#interval td {
    border-top: 0;
    text-align: center;
}

.path-mod-ejsappbooking #timepicker table#hour td.disabled,
.path-mod-ejsappbooking #timepicker table#interval td.disabled {
    color: lightgray;
    cursor: default;
}

.path-mod-ejsappbooking #booking_btn {
    display: inline-block;
    min-width: 100% !important;
    max-width: 100% !important;
    padding: 0.5em;
    cursor: pointer; 
    border-radius: 3px;
    color: rgb(74,74, 74);
    font-weight: bold
}